:root {
    --setting-height: 60px;
    --setting-font-size: 20px;
    --setting-font-family: "幼圆";
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
}

/* 画布 */

.canvas {
    overflow: hidden;
    position: fixed;
}

/* 聚光灯 */

body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-image: url("../img/bg.jpg"); */
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.my-font {
    color: rgba(216, 218, 105, 0.8);
    font-size: 10rem;
    text-transform: uppercase;
    position: relative;
    top: -35vh;
    pointer-events: none;
}

.my-font::after {
    text-align: center;
    content: attr(texts);
    text-transform: uppercase;
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    background-image: -webkit-linear-gradient(left, #c23616, #192a56, #00d2d3, yellow, #6d214f, #2e86de, #4cd137, #e84118);
    /* 将背景按照文本进行裁剪 */
    background-clip: text;
    -webkit-background-clip: text;
    clip-path: circle(100px at 0% 50%);
    -webkit-clip-path: circle(100px at 0% 50%);
    animation: light 8s infinite;
    pointer-events: none;
}

@keyframes light {
    0% {
        clip-path: circle(100px at 0% 50%);
        -webkit-clip-path: circle(100px at 0% 50%);
    }
    50% {
        clip-path: circle(100px at 100% 50%);
        -webkit-clip-path: circle(100px at 100% 50%);
    }
    100% {
        clip-path: circle(100px at 0% 50%);
        -webkit-clip-path: circle(100px at 0% 50%);
    }
}

/* 霓虹灯字体 */

.my-svg {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 200px;
}

.text {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 10 30;
    animation: stroke 10s infinite linear;
}

.text-1 {
    stroke: #3498db;
    text-shadow: 0 0 5px #3498db8e;
    animation-delay: -2.5s;
}

.text-2 {
    stroke: #f39d12;
    text-shadow: 0 0 5px #37f312a8;
    animation-delay: -5s;
}

.text-3 {
    stroke: #e74d3c;
    text-shadow: 0 0 5px #e7b13c98;
    animation-delay: -7.5s;
}

.text-4 {
    stroke: #9c59b6;
    text-shadow: 0 0 5px #b659b181;
    animation-delay: -10s;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -100;
    }
}

/* 配置中心 */

.setting {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 120px;
    right: -180px;
    padding: 10px;
    background-color: rgb(204, 233, 243);
    box-shadow: inset 0 0 5px rgba(204, 233, 243, 0.767);
    border-radius: 8px;
    /* 显示过渡效果 */
    transition: 0.5s;
    -moz-transition: 0.5s;
    /* Firefox 4 */
    -webkit-transition: 0.5s;
    /* Safari and Chrome */
    -o-transition: 0.5s;
    /* Opera */
    z-index: 3;
}

.setting>.option {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: var(--setting-height);
    font-family: var(--setting-font-family);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.setting>.option>.switch {
    padding: 0;
    margin: 0;
    border: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting>.option>.switch>.bg {
    box-shadow: inset 0px 0px 3px rgba(110, 110, 110, 0.726);
    width: 80%;
    height: 24px;
    background-color: rgba(205, 207, 201, 0.753);
    border-radius: 15px;
    position: relative;
}

.setting>.option>.switch>.bg>.sw {
    width: 24px;
    position: absolute;
    top: 0;
    height: 24px;
    border-radius: 50%;
}

.setting>.option>.tag {
    padding: 0;
    margin: 0;
    border: 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--setting-font-size);
    text-align: center;
}

.setting>.wake {
    font-size: 14px;
    writing-mode: vertical-rl;
    position: absolute;
    width: 30px;
    height: 40px;
    top: 10px;
    left: -30px;
    background-color: rgb(74, 203, 247);
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting:hover {
    right: 0;
}

/* 开关关闭特效 */

.setting>.option>.close>.bg>.sw {
    box-shadow: 0 0 1px rgb(241, 55, 55);
    background-color: rgb(241, 55, 55);
    right: 0;
}

/* 开启特效 */

.setting>.option>.open>.bg>.sw {
    box-shadow: 0 0 1px rgb(177, 243, 22);
    background-color: rgb(177, 243, 22);
    left: 0;
}

/* 雨滴特效 */

body.rain {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

/* 天气 */

.window {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    /* 背景模糊化 */
    filter: blur(10px);
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}

/* 一滴雨的特效 */

.a-drop-of-rain {
    /* 背景是一个黑边椭圆 */
    border-radius: 100%;
    background-color: transparent;
    /* transform: rotate(180deg); */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    position: absolute;
    /* 使用js重新设置 */
    /* 这里的background-positon 和 .border 里的position保持一致更加真实 */
    /* background-position: 30% 30%;
    background-image: url("../img/bg.jpg");
    width: calc(100vw * 0.05 / 3);
    height: calc(100vh * 0.05);
    background-size: calc(100vw * 0.03 * 2) calc(100vh * 0.03 * 2);
    left: 30%;
    top: 30%; */
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    animation: falling 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    opacity: 0;
}

/* 雨滴撞击玻璃 */

@keyframes falling {
    0% {
        opacity: 0;
        transform: rotate(180deg) scale(2.5, 2.3) rotateY(0);
    }
    100% {
        opacity: 1;
        transform: rotate(180deg) scale(1, 1) rotateY(0);
    }
}

/* 天气介绍标签 */

.weather {
    width: 160px;
    position: fixed;
    top: 40vh;
    right: -160px;
    background-color: rgb(204, 233, 243);
    box-shadow: inset 0 0 5px rgba(204, 233, 243, 0.767);
    border-radius: 10px;
    z-index: 2;
    /* 显示过渡效果 */
    transition: 0.5s;
    -moz-transition: 0.5s;
    /* Firefox 4 */
    -webkit-transition: 0.5s;
    /* Safari and Chrome */
    -o-transition: 0.5s;
    /* Opera */
}

/* 刷新按钮 */

.weather-reload {
    width: 32px;
    height: 32px;
    background-color: rgb(204, 233, 243);
    background-image: url(../ico/reload.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -32px;
    right: calc(50% - 16px);
    content: "";
    border-radius: 5px;
}

.weather-reload:hover::after {
    content: attr(tip);
    position: absolute;
    top: -37px;
    height: 36px;
    font-size: 14px;
    width: 120px;
    line-height: 36px;
    right: -40px;
    text-align: center;
    background-color: rgb(204, 233, 243);
    border-radius: 5px;
}

.weather-row {
    width: 100%;
    height: 36px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.weather-row-name {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-row-value {
    width: 40%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-show {
    font-size: 14px;
    writing-mode: vertical-rl;
    width: 30px;
    height: 40px;
    position: absolute;
    left: -30px;
    top: 10px;
    background-color: rgb(74, 203, 247);
    border-radius: 3px 0 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather:hover {
    right: 0;
}

/* 配置向导 */

.config-guide {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    background-color: blanchedalmond;
    border-radius: 50%;
    cursor: pointer;
}

.config-guide:hover {
    animation: guide infinite 2s;
}

/* 向导提示 */

.config-guide:hover::after {
    position: absolute;
    width: 200px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -36px;
    left: -200px;
    font-size: 14px;
    content: "点击此按钮进入配置向导";
    border: 1px sollid wheat;
    background-color: whitesmoke;
    border-radius: 5px;
}

@keyframes guide {
    0% {
        background-color: rgba(255, 235, 205, 0.651);
        width: 36px;
        height: 36px;
        top: 10px;
        right: 10px;
        box-shadow: 0 0 0 transparent;
    }
    50% {
        background-color: rgba(255, 235, 205, 0.651);
        width: 40px;
        height: 40px;
        top: 8px;
        right: 8px;
        box-shadow: 0 0 5px rgb(250, 226, 190);
    }
    100% {
        background-color: rgba(255, 235, 205, 0.651);
        width: 36px;
        height: 36px;
        top: 10px;
        right: 10px;
        box-shadow: 0 0 0 transparent;
    }
}

.guide-main {
    width: 640px;
    height: 320px;
    z-index: 99999;
    background-color: rgba(245, 245, 245, 0.7);
    position: fixed;
    left: calc(50% - 320px);
    top: calc(50% - 160px);
    border-radius: 10px;
    font-size: "楷体";
    display: none;
}

.guide-page {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
}

/* 有此类的页才会显示 */

.guide-page-show {
    display: block;
}

.guide-title {
    width: 100%;
    height: 20%;
    background-color: rgba(76, 76, 245, 0.897);
    border-radius: 10px 10px 0 0;
    font-size: 24px;
    font-family: "黑体";
    display: flex;
    align-items: center;
    flex-direction: row;
}

.guide-content {
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(80% - 20px);
    border-radius: 0 0 10px 10px;
    font-size: 16px;
    position: relative;
}

.guide-next-step {
    width: 10%;
    height: 10%;
    background-color: rgb(247, 247, 196);
    border: 1px solid grey;
    box-shadow: 0 0 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    cursor: pointer;
    bottom: 10px;
    border-radius: 5px;
}

.guide-content-hint>.guide-next-step::before {
    content: attr(hint);
    width: 200px;
    height: 36px;
    position: absolute;
    left: -200px;
    top: 0;
    line-height: 36px;
    text-align: center;
    color: red;
    font-size: 12px;
}

#bgImg {
    display: none;
}

.choose-bgImg {
    background-color: #5e5ef5;
    display: block;
    width: 140px;
    text-align: center;
    border-radius: 10px;
}

.img-preview {
    max-width: 50%;
    max-height: 50%;
    display: none;
}

.guide-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 16px;
    height: 16px;
    background-color: rgba(250, 146, 61, 0.829);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.guide-mask {
    z-index: -1;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
}

/* 选择城市 */

.guide-content-option {
    width: 200px;
    height: 36px;
    background-color: #fefefe;
    box-shadow: inset 0 0 5px #5ed5ef;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
    line-height: 36px;
    padding-left: 10px;
}

.guide-content-option:after {
    width: 80px;
    position: absolute;
    right: -90px;
    top: 10px;
    content: attr(unit);
    font-size: 16px;
    line-height: 16px;
}

.guide-content-option-list {
    position: absolute;
    top: 37px;
    left: 0;
    width: 200px;
    z-index: 4;
    background: white;
    max-height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    visibility: hidden;
}

/* wallpaper engine 不能监听滚动事件 */

/* .guide-content-option-list::-webkit-scrollbar {
    width: 0 !important
} */

.guide-content-option-list>li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    width: calc(100% - 5px);
    height: 36px;
    text-align: left;
    border-bottom: 0.5px solid rgb(180, 178, 178);
    line-height: 36px;
    padding-left: 5px;
}

/* 加载特效 */

.loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: top;
    background-color: rgba(216, 218, 105, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loading>li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(0, 217, 255);
    position: relative;
    animation: jump 4s infinite;
    flex-direction: row;
    margin: 10px;
}

.loading>li:nth-child(1) {
    animation-delay: 0;
}

.loading>li:nth-child(2) {
    animation-delay: 0.5s;
}

.loading>li:nth-child(3) {
    animation-delay: 1s;
}

.loading>li:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 0;
    }
}